<%= render "public/shared/header" %>


<div class="container">
<%= form_with model: @customer, url: customers_path, method: :patch do |f| %>
    <div class="row m-4">
      <div class="col-sm-12 col-md-8 col-lg-5 px-6 px-sm-0 mx-auto">
        <h3 class="bg-secondary text-white text-center">
          会員情報編集
        </h3>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-7 px-6 px-sm-0 mx-auto"></div>
    </div>


    <div class="row my-3">
      <div class="col-sm-12 col-md-8 col-lg-1 px-6 px-sm-0 mx-auto"></div>
      <div class="col-sm-12 col-md-8 col-lg-3 px-6 px-sm-0 mx-auto">
        氏名
      </div>

      <div class="col-sm-12 col-md-8 col-lg-2 px-6 px-sm-0 mx-auto">
        <%= f.text_field :last_name, size: 20, placeholder: "性" %>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-1 px-6 px-sm-0 mx-auto"></div>
      <div class="col-sm-12 col-md-8 col-lg-5 px-6 px-sm-0 mx-auto">
        <%= f.text_field :first_name, size: 20, placeholder: "名" %>
      </div>
    </div>


    <div class="row my-3">
      <div class="col-sm-12 col-md-8 col-lg-1 px-6 px-sm-0 mx-auto"></div>
      <div class="col-sm-12 col-md-8 col-lg-3 px-6 px-sm-0 mx-auto">
        フリガナ
      </div>

      <div class="col-sm-12 col-md-8 col-lg-2 px-6 px-sm-0 mx-auto">
        <%= f.text_field :last_name_kana, size: 20, placeholder: "セイ" %>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-1 px-6 px-sm-0 mx-auto"></div>
      <div class="col-sm-12 col-md-8 col-lg-5 px-6 px-sm-0 mx-auto">
        <%= f.text_field :first_name_kana, size: 20, placeholder: "メイ" %>
      </div>
    </div>


    <div class="row mt-3">
      <div class="col-sm-12 col-md-8 col-lg-1 px-6 px-sm-0 mx-auto"></div>
      <div class="col-sm-12 col-md-8 col-lg-3 px-6 px-sm-0 mx-auto">
        郵便番号
      </div>
      <div class="col-sm-12 col-md-8 col-lg-8 px-6 px-sm-0 mx-auto">
        <%= f.text_field :postal_code, size: 20, placeholder: "ハイフンなし" %>
      </div>
    </div>


    <div class="row mt-3">
      <div class="col-sm-12 col-md-8 col-lg-1 px-6 px-sm-0 mx-auto"></div>
      <div class="col-sm-12 col-md-8 col-lg-3 px-6 px-sm-0 mx-auto">
        住所
      </div>
      <div class="col-sm-12 col-md-8 col-lg-8 px-6 px-sm-0 mx-auto">
        <%= f.text_field :address, placeholder: "都道府県名市町村番地", size: "54x20" %>
      </div>
    </div>


    <div class="row mt-3">
      <div class="col-sm-12 col-md-8 col-lg-1 px-6 px-sm-0 mx-auto"></div>
      <div class="col-sm-12 col-md-8 col-lg-3 px-6 px-sm-0 mx-auto">
        電話番号
      </div>
      <div class="col-sm-12 col-md-8 col-lg-8 px-6 px-sm-0 mx-auto">
        <%= f.text_field :telephone_number, placeholder: "ハイフンなし" %>
      </div>
    </div>


    <div class="row mt-3">
      <div class="col-sm-12 col-md-8 col-lg-1 px-6 px-sm-0 mx-auto"></div>
      <div class="col-sm-12 col-md-8 col-lg-3 px-6 px-sm-0 mx-auto">
        メールアドレス
      </div>
      <div class="col-sm-12 col-md-8 col-lg-8 px-6 px-sm-0 mx-auto">
        <%= f.email_field :email, placeholder: "sample@example.com" %>
      </div>
    </div>


    <div class="row mt-4">
      <div class="col-sm-12 col-md-8 col-lg-1 px-6 px-sm-0 mx-auto"></div>
      <div class="col-sm-12 col-md-8 col-lg-3 px-6 px-sm-0 mx-auto"></div>
      <div class="col-sm-12 col-md-8 col-lg-2 px-6 px-sm-0 mx-auto">
        <%= f.submit "編集内容を保存", class: "btn btn-success" %>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-1 px-6 px-sm-0 mx-auto"></div>
      <div class="col-sm-12 col-md-8 col-lg-5 px-6 px-sm-0 mx-auto">
        <%= link_to customers_unsubscribe_path, class: "btn btn-danger" do %>退会する<% end %>
      </div>
    </div>
<% end %>
</div>





