<%= render "admin/shared/header" %>

<div class="container">

    <div class="row m-4">
      <div class="col-sm-12 col-md-8 col-lg-1 px-6 px-sm-0 mx-auto"></div>
      <div class="col-sm-12 col-md-8 col-lg-3 px-6 px-sm-0 mx-auto">
        <h3 class="bg-secondary text-white text-center">
          商品新規登録
        </h3>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-4 px-6 px-sm-0 mx-auto"></div>
      <div class="col-sm-12 col-md-8 col-lg-4 px-6 px-sm-0 mx-auto"></div>
    </div>


      <%= form_with model: @item, url: '/admin/items' do |f| %>

    <div class="row mt-5">
      <div class="text-right col-sm-12 col-md-8 col-lg-3 px-6 px-sm-0 mx-auto">
        商品画像
      </div>
      <div class="col-sm-12 col-md-8 col-lg-1 px-6 px-sm-0 mx-auto"></div>
      <div class="col-sm-12 col-md-8 col-lg-8 px-6 px-sm-0 mx-auto">
        <%= f.file_field :image, accept: "image/*" %>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-sm-12 col-md-8 col-lg-3 px-6 px-sm-0 mx-auto">
        <div class="text-right mr-3">
        商品名
        </div>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-1 px-6 px-sm-0 mx-auto"></div>
      <div class="col-sm-12 col-md-8 col-lg-8 px-6 px-sm-0 mx-auto">
        <%= f.text_field :name, size: 40, placeholder: "商品名" %>
      </div>
    </div>

    <div class="row mt-2">
      <div class="text-right col-sm-12 col-md-8 col-lg-3 px-6 px-sm-0 mx-auto">
        商品説明
      </div>
      <div class="col-sm-12 col-md-8 col-lg-1 px-6 px-sm-0 mx-auto"></div>
      <div class="col-sm-12 col-md-8 col-lg-8 px-6 px-sm-0 mx-auto">
        <%= f.text_area :introduction, placeholder: "ここに説明文を記述します", size: "40x10" %>
      </div>
    </div>

    <div class="row mt-2">
      <div class="text-right col-sm-12 col-md-8 col-lg-3 px-6 px-sm-0 mx-auto">
        ジャンル
      </div>
      <div class="col-sm-12 col-md-8 col-lg-1 px-6 px-sm-0 mx-auto"></div>
      <div class="col-sm-12 col-md-8 col-lg-8 px-6 px-sm-0 mx-auto">
        <%= f.collection_select :genre_id, @genres, :id, :name, prompt: "--選択してください--" %>
      </div>
    </div>

    <div class="row mt-2">
      <div class="text-right col-sm-12 col-md-8 col-lg-3 px-6 px-sm-0 mx-auto">
        税抜価格
      </div>
      <div class="col-sm-12 col-md-8 col-lg-1 px-6 px-sm-0 mx-auto"></div>
      <div class="col-sm-12 col-md-8 col-lg-8 px-6 px-sm-0 mx-auto">
        <%= f.text_field :price, size: 40, placeholder: "1000" %>円
      </div>
    </div>

    <div class="row mt-2">
      <div class="text-right col-sm-12 col-md-8 col-lg-3 px-6 px-sm-0 mx-auto">
        販売ステータス
      </div>
      <div class="col-sm-12 col-md-8 col-lg-1 px-6 px-sm-0 mx-auto"></div>
      <div class="col-sm-12 col-md-8 col-lg-8 px-6 px-sm-0 mx-auto">
        <%= f.radio_button :is_active, :true %>
        <%= f.label :is_active, "販売中" %>
        <%= f.radio_button :is_active, :false %>
        <%= f.label :is_active, "販売停止中" %>
      </div>
    </div>

    <div class="row mt-5">
      <div class="text-center col-sm-12 col-md-8 col-lg-12 px-6 px-sm-0 mx-auto">
        <%= f.submit "新規登録", class: "btn btn-success btn-lg" %>
      </div>
    </div>

<% end %>
</div>