<%= render "admin/shared/header" %>


<h3 class="my-3 ml-3">会員一覧</h3>

<div class="col-5 ml-3">
  <table class="table">
    <thead>
      <tr>
        <th>会員id</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>

    <tbody>
      <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= link_to customer.full_name, admin_customer_path(customer.id) %></td>
        <td><%= customer.email %></td>
        <td><%= customer.is_deleted ? '無効' : '有効' %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
