<%= render "public/shared/header" %>
<h1>注文情報入力</h1>
<%= form_with model: @order do |f| %>

<div class="form-group">
    <label for="payment_method">支払方法</label>
      <%= f.radio_button :payment_method, Orders.payment_methods.key(0) %>
      <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
      <%= f.radio_button :payment_method, Orders.payment_methods.key(1) %>
      <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer] %>
</div>

<div class="form-group">
    <label for="address">お届け先</label>
      <%= f.radio_button :customer_id, current_customer  %>
      <%= f.label :customer_id, "ご自身の住所"  %>
      <%= @customer.postal_code %> <%= @customer.address %><br>
      <%= @customer.last_name %><%= @customer.first_name %><br>
      
      <%= f.radio_button :customer_id, current_customer.address   %>
      <%= f.label :customer_id, "登録済住所から選択"  %>
      <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display), prompt: "--選択してください--" %>
      
      <%= f.radio_button :customer_id, current_customer.address  %>
      <%= f.label :customer_id, "新しいお届け先"  %>
       <div class="field">
            <%= f.label "郵便番号(ハイフンなし)" %>
            <%= f.text_field :postal_code, placeholder: "000000" %>
       </div>

       <div class="field">
            <%= f.label "住所" %>
            <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0" %>
       </div>

       <div class="field">
            <%= f.label "宛名" %>
            <%= f.text_field :name, placeholder: "令和道子" %>
       </div>

       <div class="actions">
            <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
       </div>



</div>

<% end %>
