<%= render "public/shared/header" %>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-10 px-6 px-sm-0 mx-auto">

        <h3>商品一覧</h3>(全<%= Item.count %>件)<br>


          <div class="d-flex justify-content-center">
            <div class="d-flex flex-wrap">
                  <% @items.each do |item| %>
             <div class= "clearfix">
                <div class= "float-none">
                    <%= link_to item_path(item) do %><%= image_tag item.get_image(200,200), class: "m-3" %><% end %>
                      <div class="w-100"></div>
                    <%= item.name %>
                      <div class="w-100"></div>
                     ¥<%= item.add_tax_price.to_s(:delimited) %>
                </div>
              </div>
                    <% end %>
            </div>
          </div>
    </div>
  </div>
          <%= paginate @items %>
</div>

